#footer {
  width: 100%;
  bottom: 0px;
  margin: auto;
  height: 8vh;
  background-color: rgb(183, 182, 182);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-hyperlink {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #footer {
    flex-direction: column;
    height: 100px;
  }
}
